/* background image hero */
.hero__container {
    height: 980px;
    background-image: url(../../img/rickandmorty-background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Rick and Morty logo */
.rickandmorty__section{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.rickandmorty__logo--container{
    width: 30%;
}

.rickandmorty-logo {
    width: 100%;
}

.scroll-down__container{
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.scroll-down__container:hover {
    transition: var(--transition);
    transform: var(--hover-up);
    color: var(--font-color);
    text-shadow:
    0 0 10px #ffffff,
    0 0 50px #ffffff;
}

.scroll-down,
.fa-chevron-down {
    font-size: 1.5rem;
}

.fa-chevron-down {
    margin-top: 15px;
}

.heading {
    width: 75%;
    color: white;
    margin: 100px auto 0px auto;
}

/* cards */
.card__container {
    width: 75%;
    margin: 20px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.alive,
.dead,
.unknown {
    border: solid 2px #1b1c1e;
    width: 22%;
    color: white;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.alive {
    background-color: #1b1c1e;
}

.dead {
    box-shadow: var(--dead-shadow);
}

.unknown {
    box-shadow: var(--unknown-shadow);
}

.alive:hover,
.dead:hover,
.unknown:hover {
    transition: var(--transition);
    transform: var(--hover-up);
    cursor: pointer;
}


.card__img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.card__text {
    padding: 20px;
}

p{
    padding-top: 5px;
}